<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>MealRecs :: Recipes</title>
    <!--/*/ <th:block th:include="fragments/general :: head"></th:block> /*/-->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="homenav">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><strong class="text-light">MealRecs</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed" aria-controls="navbarCollapsed" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapsed">
        &nbsp;<span class="navbar-text text-light">
            <strong>Recipes</strong>
        </span>
    </div>
    <div class="form-inline" th:fragment="myrecipelistnav">
        <ul class="navbar-nav">
            <li class="nav-item"><a th:href="@{/recipe/list}" class="text-light" style="font-size:12pt">My Recipe List</a></li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div>
        <div class="row mb-2">
            <div class="col-md-8 col-lg-8">
                <h4 class="info-header">Recipes</h4>
            </div>
        </div>

        <div class="" th:if="${recipes != null && !recipes.empty}">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="">#</th>
                            <th scope="col" class="col-1">Image</th>
                            <th scope="col" class="">Name</th>
                            <th scope="col" class="">Cook Time</th>
                            <th scope="col" class="">Servings</th>
                            <th scope="col" class="">Source</th>
                            <th scope="col" class="col-2">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="recipe, i : ${recipes}">
                            <td th:text="${((page - 1) * pageSize) + i.count}"></td>
                            <td>
                                <img class="img-fluid" th:src="${recipe.image}">
                            </td>
                            <td th:text="${recipe.name}"></td>
                            <td th:text="${!#strings.isEmpty(recipe.cookTime) && recipe.cookTimeUnit != null ? recipe.cookTime + ' ' + recipe.cookTimeUnit.label : ''}"></td>
                            <td th:text="${recipe.servings}"></td>
                            <td th:text="${recipe.source}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary" role="button" th:href="@{/admin/recipe(id=${recipe.id})}" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a class="btn btn-sm btn-danger" role="button" th:href="@{/admin/recipe/delete(id=${recipe.id})}" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-10">
                    <div class="pagination justify-content-center">
                        <nav aria-label="Page Navigation">
                            <th:block th:utext="${pageNav}" />
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <a class="btn btn-success" role="button" th:href="@{/admin/recipe/search}"><i class="fa fa-search" aria-hidden="true"></i> Search for recipes</a>
        </div>
    </div>
</main>

<th:block th:include="fragments/general :: jsscript"></th:block>

</body>
</html>