body {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #FAFAFA;
    /*font-family: Times, "Times New Roman", serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*#wrapper {
	width: 90%;
	margin: auto;
}*/

a {
    font-size: 16pt;
    font-weight: bold;
    color: #0c5460;
    text-decoration: none;
}
a:hover {
    color: #117a8b;
    text-decoration: none;
}

.btn-mr-1 {
    background-color: #FF5733;
    border-radius: 0;
}
.btn-mr-1:hover {
    background-color: #901B0C;
    border-radius: 0;
}

.recipe-prev-box {
    height: 250px;
    padding: 4px;
}
.recipe-prev-box:hover {
    /*background-color: #EEEEEE;*/
    background-color: #C1E4F4;
}

.recipe-prev-text {
    padding: 6px;
}

.recipe-prev-img-box {
    height: 200px;
}

.recipe-prev-img-box img {
    width: 100%;
    height: 100%;
}

.recipe-img-box {
    height: 260px;
}

.recipe-img-box img {
    width: 100%;
    height: 100%;
}

.recipe-rec-box {
    padding: 2px;
}
.recipe-rec-box:hover {
    background-color: #C1E4F4;
}

.recipe-rec-img-box {
    height: 92px;
}

.recipe-rec-img-box img {
    width: 100%;
    height: 100%;
}
.recipe-rec-text {
    padding: 4px 4px 2px 4px;
}
.recipe-rec-text a {
    font-size: 14px;
}

.recipe-view-container {
    background-color: #F0F0F0;
    padding: 40px 28px 40px 28px;
}