<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MealRecs :: Home</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap-4.2.1.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href=""><strong class="text-light">MealRecs</strong></a>
    <div class="collapse navbar-collapse justify-content-md-center">
        <strong class="text-light">Choose Your Recipe</strong>
    </div>
</nav>

<main role="main" class="container">
    <div class="">
        <div class="row">
            <div class="col-md-4">
                <a href="recipe/1">
                    <div class="recipe-prev-box border">
                        <div class="recipe-img-box"><img src="images/recipe-1.png"></div>
                        <div class="recipe-prev-text"><a href="recipe/1">Baked Ziti</a></div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="recipe/2">
                    <div class="recipe-prev-box border">
                        <div class="recipe-img-box"><img src="images/recipe-2.png"></div>
                        <div class="recipe-prev-text"><a href="recipe/2">Meatballs</a></div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="recipe/3">
                    <div class="recipe-prev-box border">
                        <div class="recipe-img-box"><img src="images/recipe-3.png"></div>
                        <div class="recipe-prev-text"><a href="recipe/3">Tacos</a></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-md-4">
                <a href="recipe/4">
                    <div class="recipe-prev-box border">
                        <div class="recipe-img-box"><img src="images/recipe-4.png"></div>
                        <div class="recipe-prev-text"><a href="recipe/4">Chicken Parm</a></div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="recipe/5">
                    <div class="recipe-prev-box border">
                        <div class="recipe-img-box"><img src="images/recipe-5.png"></div>
                        <div class="recipe-prev-text"><a href="recipe/5">Chicken Enchilada</a></div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="recipe/6">
                    <div class="recipe-prev-box border">
                        <div class="recipe-img-box"><img src="images/recipe-6.png"></div>
                        <div class="recipe-prev-text"><a href="recipe/6">Chicken Marsala</a></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</main>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap-4.2.1.bundle.min.js}"></script>

</body>
</html>