<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>MealRecs :: Home</title>
    <!--/*/ <th:block th:include="fragments/general :: head"></th:block> /*/-->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="homenav">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><strong class="text-light">MealRecs</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed" aria-controls="navbarCollapsed" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapsed">
        &nbsp;
    </div>
    <div class="form-inline" th:fragment="myrecipelistnav">
        <ul class="navbar-nav">
            <li class="nav-item"><a th:href="@{/new/recipe/list}" class="text-light" style="font-size:12pt">My Recipe List</a></li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div style="text-align:center;">
        <div style="margin-top: 16px">
            <div>
                <h4 class="info-header">Recipes To Avoid Leftovers</h4>
            </div>
            <div style="margin-top: 16px">
                <a role="button" th:href="@{/new/recipes}" class="btn text-light btn-mr-1 btn-mr-big" >GET STARTED</a>
            </div>
        </div>

        <div style="margin-top: 80px">
            <div>
                <h4 class="info-header">How it Works</h4>
            </div>
            <div class="row display-center" style="width:80%;">
                <div class="col-md-3 info-content">
                    <div class="number-box">
                        <span>1</span>
                    </div>
                    <div>
                        <span>Find a Recipe</span>
                    </div>
                </div>
                <div class="col-md-3 info-content">
                    <div class="number-box">
                        <span>2</span>
                    </div>
                    <div>
                        <span>Add Ingredients to My Recipe List</span>
                    </div>
                </div>
                <div class="col-md-3 info-content">
                    <div class="number-box">
                        <span>3</span>
                    </div>
                    <div>
                        <span>Choose Recipes that will use Remaining Ingredients</span>
                    </div>
                </div>
                <div class="col-md-3 info-content">
                    <div class="number-box">
                        <span>4</span>
                    </div>
                    <div>
                        <span>Get ingredients delivered to your door!</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 80px">
            <div>
                <h4 class="info-header">Why MealRecs?</h4>
            </div>
            <div class="row display-center" style="width:60%;">
                <div class="col-md-4">
                    <span class="info-content">Waste Less Food</span>
                </div>
                <div class="col-md-4">
                    <span class="info-content">Save Money</span>
                </div>
                <div class="col-md-4">
                    <span class="info-content">Easily Find New Recipes</span>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:include="fragments/general :: jsscript"></th:block>

</body>
</html>