<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>MealRecs :: Recipe List</title>
    <!--/*/ <th:block th:include="fragments/general :: head"></th:block> /*/-->
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="homenav">
    <a class="navbar-brand" href="/"><strong class="text-light">MealRecs</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed" aria-controls="navbarCollapsed" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapsed">
        <span class="navbar-text text-light">
          <strong>My Recipe List</strong>
        </span>
    </div>
</nav>

<main role="main" class="container">
    <div class="recipe-view-container rounded">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12"><h4>Recipes Included</h4></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-left: 24px;">
                        <div class="row recipe-list-box" th:each="recipeKeyValue : ${recipeList.recipeMap}">
                            <div class="col-md-4" style="padding-left:4px;padding-right:4px;">
                                <a th:href="@{/recipe/{id}(id=${recipeKeyValue.value.id})}">
                                    <div class="border recipe-list-img-box">
                                        <img th:src="@{/images/{pic}(pic=${recipeKeyValue.value.picture})}" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6" style="padding-left:4px;padding-right:4px;margin:auto;">
                                <a th:href="@{/recipe/{id}(id=${recipeKeyValue.value.id})}" th:text="${recipeKeyValue.value.name}" style="font-size: 15pt"></a>
                            </div>
                            <div class="col-md-2" style="padding-left:4px;padding-right:6px;margin:auto;">
                                <a th:href="@{/recipe/list/remove?id={id}(id=${recipeKeyValue.value.id})}" class="close btn-close-hidden"><span aria-hidden="true">&times;</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 80px;">
                <div class="row">
                    <div class="col-md-12"><h4>Total Ingredients Needed</h4></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" th:each="totalKeyValue : ${recipeList.totalIngredients}">
                            <div class="col-md-4">
                                <span th:text="${totalKeyValue.value.packageCountText}" style="font-size: 13pt"></span>
                            </div>
                            <!--div class="col-md-4">
                                <span th:text="${totalKeyValue.value.amountAsString + ' ' + totalKeyValue.value.item.unit}" style="font-size: 13pt"></span>
                            </div-->
                            <div class="col-md-4">
                                <span th:text="${totalKeyValue.value.item.name}" style="font-size: 13pt"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 60px;" th:if="not ${recommendationRecipes.isEmpty()}">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Meal Recommendations</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" th:each="recRecipe : ${recommendationRecipes}">
                        <div class="row" style="margin-bottom:4px;padding-left:2px;padding-right:2px" th:if="not ${recipeList.totalIngredients.isEmpty()}">
                            <div class="col-md-12" style="">
                                <a class="btn a-rec-recipe" style="width:100%;" th:href="@{/recipe/{id}/add(id=${recRecipe.id},crossCheck=1)}" th:text="${recRecipe.recommendationMessage}"
                                   data-toggle="popover" data-html="true" th:attr="data-content=${recRecipe.neededIngredientsAsHtml}" data-placement="top"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a th:href="@{/recipe/{id}(id=${recRecipe.id},crossCheck=1)}">
                                    <div class="recipe-rec-box border">
                                        <div class="recipe-rec-img-box"><img th:src="@{/images/{pic}(pic=${recRecipe.picture})}" /></div>
                                        <div class="recipe-rec-text"><a th:href="@{/recipe/{id}(id=${recRecipe.id})}" th:text="${recRecipe.name}"></a></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:include="fragments/general :: jsscript"></th:block>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({ trigger: "hover" });
    })
</script>

</body>
</html>